<nav class ="navbar-dark navbar navbar-expand-sm fixed-top">
    <div class = "container-fluid">
        <button class = "navbar-toggler mr-auto" type = "button" data-toggle = "collapse" data-target = "#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse" id = "Navbar">
            <ul class = "navbar-nav mr-auto">
                <li class ="nav-item"><a routerLink='/' class = "nav-link">Home</a></li>
                <li class ="nav-item" id="experience"><a routerLink='/experience' class = "nav-link">Experience</a></li>
                <li class ="nav-item" id="projects"><a routerLink='/projects' class = "nav-link">Projects</a></li>
                <li class ="nav-item" id="classes"><a routerLink='/classes' class = "nav-link">Classes</a></li>
                <li class ="nav-item" id="skills"><a routerLink='/skills' class = "nav-link">Skills</a></li>
            </ul>
        </div>
    </div>
</nav>


<header class = "jumbotron">
    <div class = "container">
        <div class = "row row-header">
            <div class = "col-10 col-sm-6 offset-2 offset-sm-0" id="jumboContent"> 
                <h1>Matthew MacFarquhar</h1>
                <p>Junior CS/AMS Major seeking Internships in Software Engineering.</p>
            </div>
        </div>
    </div>
</header>
