<html>
  <body >
    
    <div class="container">
      <h1>
        Matthew MacFarquhar
      </h1>
      <p>
        My name is Matthew MacFarquhar, I am a student at Johns Hopkins University studying Computer Science and Applied Maths and Statistics.
        I am focused on Machine Learning and Data Science. I have completed multiple courses at both JHU, and online during my freetime. I use these skills
        to create interesting projects which I then share on my Github.
      </p>
      <p>
        I have experience in multiple languages and frameworks. I am always eager to learn more and to challenge myself with difficult classes, 
        projects, or concepts.
      </p>
      <img src="../../assets/images/myPic.jpeg" class="img-thumbnail rounded-circle">
      <!--change to ./assets/... for deployment-->
      <hr>
      <div id="links">
        <a class="tab" routerLink='/experience'>Experience</a>
        <a class="tab" routerLink='/projects'>Projects</a>
        <a class="tab" routerLink='/classes'>Classes</a>
        <a class="tab" routerLink='/skills'>Skills</a>
      </div>
    </div>
  </body>
</html>

