body {
    height: 100vh;
    background-image: linear-gradient(to bottom , #83d0fc, white);
}

.container {
    text-align: center;
}

.container h1 {
    color: #51504c;
    font-size: 10vh;
    padding: 5vh;
}

.container p {
    color: #51504c;
    max-width: 50vw;
    font-size: 2.5vh;
    margin: auto;
    padding-bottom: 5vh;
}

img {
    max-width: 10vw;
}

hr {
    margin: 5vh;
    border: 0.5px solid grey;
}

a {
    padding: 5vw;
    font-size: 2.5vh;
    font-weight: bold;
    color: #51504c;
}

.tab:hover {
    color: lightslategrey !important;
    text-decoration: none;
}