<app-header></app-header>
<body>
  <div class="container">

    <div class="projectContainer">
      <h3>eBay Scraper</h3>
      <p>The ebay scraper is a flask based web app which uses the BeautifulSoup library to scrape the products from ebay's deals of the day page.
        Then it allows the user to sort by price, percent off, and -- two not supported by ebay -- original price and money off.
      </p>
      <a class="col-5 offset-7 col-sm-4 offset-sm-8 col-md-3 offset-md-9 col-lg-2 offset-lg-10" href="https://macfarquhar-ebay-scraper.herokuapp.com/">ebay Scraper</a>
    </div>

    <div class="projectContainer">
      <h3>CrimeTracker</h3>
      <p>The CrimeTracker app is an Android app that pulls crime data from the BPD and displays it on an intuitive map with pins or heat map.
        The features included are: 911 calling, ICE calling, Danger zone alerts, viewing individual crime details, and seeing a heatmap of all the crimes in 
        the Baltimore area.
      </p>
    </div>

    <div class="projectContainer">
      <h3>Song Genre Classifier</h3>
      <p>The Song Genre Classifier is a machine learning model built on keras. It takes in word emmbeddings representing lyrics
         of a song and will classify if the song is a: Rock, Hip-hop, Pop, Country, or Metal song. It is an ensamble of an RNN and a CNN and achieved
         an accuracy of 61% over about 40,000 song titles.
      </p>
    </div>

    <div class="projectContainer">
      <h3>Tonizer</h3>
      <p>Tonizer is a W.I.P., it uses FFT to estimate frequency of whistles and then returns the user their tune in notes which the user 
        can modify and listen to.
      </p>
      <a class="col-5 offset-7 col-sm-4 offset-sm-8 col-md-3 offset-md-9 col-lg-2 offset-lg-10" href="https://mattmacf98.github.io/Tonizer/">Tonizer</a>
    </div>

    <div class="projectContainer">
      <h3>PCA Imagizer</h3>
      <p>PCA Imagizer is a W.I.P., it uses k-means clustering to find the k components-- the k average colors-- of the submitted image,
         it then shows the user a side-by-side of the original image and the modified one.
      </p>
      <a class="col-5 offset-7 col-sm-4 offset-sm-8 col-md-3 offset-md-9 col-lg-2 offset-lg-10" href="https://pca-imagizer.herokuapp.com/">PCA Imagizer</a>
    </div>
    
  </div>
</body>
