<app-header></app-header>
<div class="container">

  <h2>Core Languages:</h2>
  <hr>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 skill">
      <h4>Java: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>Python: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>C/C++: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span>
    </div>
  </div>

  <h2>Web Technologies:</h2>
  <hr>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 skill">
      <h4>JavaScript: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>CSS: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>HTML: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>Bootstrap: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>Wordpress: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>Angular: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>Node.js: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>Express: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span>
    </div>
  </div>

  <h2>Database Technologies:</h2>
  <hr>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 skill">
      <h4>SQL: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>mySQL: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>noSQL: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>mongoDB: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span>
    </div>
  </div>

  <h2>Machine Learning Technologies:</h2>
  <hr>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 skill">
      <h4>Linear Regression: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>Logistic Regression: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>CNN: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>RNN: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>K-means: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>Keras: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>PyTorch: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>Tensorflow: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span>
    </div>
  </div>

  <h2>Other Technologies:</h2>
  <hr>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 skill">
      <h4>Android Development: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>Algorithms: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
    </div>
    <div class="col-12 col-md-6 col-lg-4 skill">
        <h4>Data Structures: </h4> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>
    </div>
  </div>

</div>
