<app-header></app-header>
<body>
  <div class="container">
    
  </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-school-tab" data-toggle="tab" href="#nav-school" role="tab" aria-controls="nav-school" aria-selected="true">School</a>
          <a class="nav-item nav-link" id="nav-online-tab" data-toggle="tab" href="#nav-online" role="tab" aria-controls="nav-online" aria-selected="false">Online</a>
        </div>
      </nav>
      <div class="container">
          <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-school" role="tabpanel" aria-labelledby="nav-school-tab">
              <h1>Math:</h1>
              <ul>
                <li><strong>Calculus II</strong></li>
                <li><strong>Calculus III</strong></li>
                <li><strong>Linear Algebra</strong></li>
                <li><strong>Differential Equations</strong></li>
                <li><strong>Optimization</strong></li>
                <li><strong>Probability</strong></li>
                <li><strong>Statistics</strong></li>
              </ul>
              <h1>Computer Science:</h1>
              <ul>
                <li><strong>Intermediate Programming:</strong> C/C++, Unix</li>
                <li><strong>Data Structures:</strong> Java</li>
                <li><strong>Intro Computing:</strong> Unix, Python, MatLab</li>
                <li><strong>Automata</strong></li>
                <li><strong>User Interface and Mobile apps:</strong> Android Studio</li>
                <li><strong>Algorithms</strong></li>
                <li><strong>Deep Learning:</strong> Torch, TensorFolw, Keras</li>
              </ul>
            </div>

            <div class="tab-pane fade" id="nav-online" role="tabpanel" aria-labelledby="nav-online-tab">
              <h1>Udacity/Udemy:</h1>
              <ul>
                <li><strong>Version Control With Git:</strong> Git, Github</li>
                <li><strong>Android Basics:</strong> Android Studio</li>
                <li><strong>The Python Mega Course:</strong> Python</li>
                <li><strong>Java Programming MasterClass:</strong> Java</li>
                <li><strong>The Ultimate MySQL Bootcamp:</strong> MySQL,SQL</li>
                <li><strong>Data Structures and Algorithms:</strong> Java</li>
                <li><strong>The Web Developer Bootcamp:</strong> JS, HTML, CSS, mongoDB, Node.js, Express</li>
                <li><strong>The Complete Android N Developer Course:</strong> Android Studio</li>
              </ul>

              <h2>Coursera</h2>
              <ul>
                <li><strong>Machine Learning Andrew Ng:</strong> MatLab, Machine Learning</li>
                <li><strong>Front-End Web UI Frameworks and tools:</strong> Bootstrap, JS, HTML, CSS, SCSS</li>
                <li><strong>Front-End JavaScript Frameworks:</strong> Angular, typescript</li>
              </ul>
            </div>
          </div>
      </div>
</body>
